@import "../app/globals.css";
.search{
  height: 50px;
  border: 1px solid #E5E4E2;
  border-radius: 5px;
  width: 35%;
  padding: 10px;
}
/* .search:focus-visible{
  border: 1px solid #E5E4E2;
} */

.fontsmall{
  font-size: 12px;
}

.titleFont{
  font-size: 16px;
  font-weight: 500;
}
.primaryColor{
  color: var(--primaryColor);
}

.searchResult{
  position: absolute;
  width: 35%;
  top:50px;
  z-index:1px;
}

.boxShadow{
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  background-color: #ffff;
}
.boxShadow:first-child{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}.boxShadow:last-child{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}